.comments {
    background-color: #888;
    padding: 32px 16px;
    margin-top: 30px;
    border-radius: 8px;
}

.comments h2 {
    color: #171d1f;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
}

.comments ul {
    list-style: none;
}

.comments ul li {
    padding: 16px 0;
}

.comments .comment {
    border-bottom: 1px solid black;
}